body {
    margin: 0px;
    background-color: black;
}

* {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 1000;
}

.menu-link {
    margin-right: 180px;
    margin-top: 15px;
}
.menu-link:hover {
    text-decoration: underline;
}

header a {
    font-size: x-large;
    margin: 0 auto 0 80px;
    text-decoration: none;
}

header a#title:hover {
    margin: 0px auto 0px 80px;
    font-size: x-large;
    text-decoration: underline;
}

header nav a {
    font-size: x-small;
    color: white;
    margin: 0px;
    text-decoration: underline;
}

header {
    background-color: black;
    border-color: black;
    border-width: 0px 5px 0px 40px;
    border-style: solid;
    padding: 22px 5px 1px 5px;
}

nav ul li {
    display: inline;
}

body#index {
    background-image: url('https://alistamento.eb.mil.br/assets/images/intro/wallpaper1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 6%;
}

section h1 {
        font-size: 60px;
        font-weight: bolder;
        text-align: center;
        position: absolute;
        width: 50%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}

section ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 50px;
        position: absolute;
        top: 60%;
        left: 49%;
        transform: translate(-50%, -50%);
}


section a#b1 {
    text-align: center;
    padding: 10px 30px 10px 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
}

section a#b1:hover {
    text-align: center;
    padding: 10px 30px 10px 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.4s;
    box-shadow: black 10px transparent;
}

section a#b2 {
    text-align: center;
    padding: 10px 55px 10px 55px;
    background-color: white;
    color: black;
    font-style: bold;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
}

section a#b2:hover {
    text-align: center;
    padding: 10px 55px 10px 55px;
    background-color: black;
    color: white;
    font-style: bold;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.4s;
}