body {
    margin: 0px;
}

* {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 1000;
}

header {
    background-color: black;
    border: solid black 20px;
}

header a {
    color: white;
    margin: 0px auto 0px 60px;
    font-size: x-large;
    text-decoration: none;
}

header a:hover {
    margin: 0px auto 0px 60px;
    font-size: x-large;
    text-decoration: underline;
}

nav ul li {
    display: inline;
}

body {
    background-image: url('fundo.png');
}

section div {
    background-color: rgb(218, 213, 213);
}

.main-content {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

.image {
    height: 100vh;
    border-radius: 5px;
    width: 300px;
    height: auto;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}